

.profile-section {
  background-color: #f9fafa; /* Formal yet vibrant orange */
  font-family: 'Courier New', monospace;
}

.profile-box {
  background: #006ef5;
  color: #f2f0f0;
  transition: transform 0.3s ease;
}

.profile-box:hover {
  transform: translateY(-8px);
}

.profile-icon {
  color: #fdfbf9;
}